# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=False
DATABASE_URL=postgres://user:password@host:port/database

# Frontend Settings
VITE_API_URL=

# Heroku Settings
PORT=8000

# Security Settings (for production)
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

